<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo">🐶 PawGram</a>
      <div class="header-right">
        <a href="https://github.com/yash-dani/shopify-challenge/"> Source Code </a>
        <a href="/dogs/new"> Add Dog </a>
        <a class="active" href="/dogs">Explore Dogs</a>

      </div>
    </div>
    <%= yield %>
  </body>
</html>
